@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #171717; /* dark background */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #404040; /* scrollbar color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #525252;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #404040 #171717;
}